/* Global styles */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

/* Paleta de colores */
:root {
  --azul-oscuro: #1C2B4D;
  --verde-turquesa: #00C1A7;
  --azul-claro: #5C7EE6;
  --blanco: #FFFFFF;
}

/* Reset y base */
html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.btn-primary {
  background-color: var(--verde-turquesa);
  border: none;
}

.btn-primary:hover {
  background-color: var(--azul-claro);
}

.bg-primary {
  background-color: var(--azul-oscuro) !important;
}

.btn-secondary {
  background-color: var(--azul-claro);
  border: none;
  color: var(--blanco);
}
/* Header */


header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

header h1 {
  font-size: 3rem;
  color: var(--azul-oscuro);
  letter-spacing: 5px;
}

.highlight-e {
  display: inline-block;
  position: relative;
}

.highlight-e::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 50%;
  top: 25%;
  left: 0;
  background: linear-gradient(90deg, var(--verde-turquesa), var(--azul-claro));
  z-index: -1;
  border-radius: 4px;
}


button {
  background: linear-gradient(90deg, var(--verde-turquesa), var(--azul-claro));
  border: none;
  color: var(--blanco);
  font-size: 1.2rem;
  padding: 15px 30px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  margin-top: 20px;
}

button:hover {
  transform: scale(1.1);
  box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}


/* Footer */
footer {
  margin-top: 40px;
  text-align: center;
}
